*{
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    font-size: larger;
}

::-webkit-scrollbar{
    display: none;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.containerSx{
    background: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 27%;
    height: 90%;
    border-radius: 70px;
    box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.25);
}
.containerCc{
    background: #F9F9F9;
    display: flex;
    align-items: top;
    justify-content: center;
    width: 35%;
    height: 90%;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 70px;
    box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.25);
}
.containerDx{
    background: #F9F9F9;
    display: flex;
    align-items: center;
    width: 27%;
    height: 90%;
    border-radius: 70px;
    box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.25);
}
.textOrdini{
    margin-top: 5%;
    margin-bottom: 3%;
}
.tavolo{
    background: linear-gradient(90deg, #FF6F61 0%, rgba(179, 54, 42, 0.99) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 8%;
    border-radius: 45px;
    margin-top: 4%;
    font-weight: bold;
    color: #F4F1F1;
    cursor: pointer;
}
.elencoOrdiniInv{
    background: linear-gradient(90deg, #FF6F61 0%, rgba(179, 54, 42, 0.99) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:85%;
    height: 0%;
    border-radius: 45px;
    margin-top: 17%;
    transition: width 600ms ease-out, height 600ms ease-out;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.linea{
    border-left: 6px solid white;
    height: 85%;
    margin-right: 80%;
    border-radius: 45px;
}
.pallino{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #FF8C69;
    border: 5px solid #F4F1F1;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wrapperOrdini{
    width: 90%;
    height: 80%;
    background-color: aquamarine;
    overflow: scroll;
    position: absolute;
}
.elementOrdini{
    width: 100%;
    height: 50px;
    background-color: brown;
    margin-top: 10px;
    /*margin: 10px auto;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sezioneSx{
    display: flex;
    background-color: pink;
    width: 12%;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.sezioneDx{
    display: flex;
    background-color: red;
    width: 100%;
    justify-content: center;
    align-items: start;
    height: 100%;
    flex-direction: column;
    font-size: 30px;
}
.ordine{
    display: flex;
    width: 100%;
    height: 80%;
    background-color: blue;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    margin-left: 7%;
    color: white;
}
.rigaOrdine{
    width: 90%;
    border: 3px solid green;
    border-radius: 5px;
    margin-left: 3%;
}
.quantita{
    width: 8%;
    height: 83%;
    margin-left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.bottoneX{

}